@media screen and (max-width: 426px) {
  .header {
    background: url(/img/img\ 3.png);
  }
  .header_nav {
    background: #27262A;
    width: 288.5px;
    height: 118px;
  }
  .header_nav_logo_title {
    display: none;
  }
  .header_nav_linkAndBtn {
    display: flex;
    width: 196px;
    height: 37px;
    -moz-column-gap: 51px;
         column-gap: 51px;
  }
  .header_nav_linkAndBtn_btn {
    width: 119px;
  }
  .header_nav_link-cont {
    display: none;
  }
  .header_title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 700;
  }
  .header_sub-title {
    display: flex;
    width: 258px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 22px;
  }
  .header_sub-title2 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  .header_btn-container {
    display: flex;
    row-gap: 12.5px;
    width: 290px;
    height: 72.5px;
    position: absolute;
    top: 838px;
    left: 187px;
  }
  .header_btn-container_btn {
    width: 290px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
  .main_btn-section {
    width: 290px;
  }
  .main_present-container {
    width: 273px;
    height: 263px;
  }
  .main_present-container_title {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
  }
  .main_present-container_sub-title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .main_present-container_img {
    width: 300px;
  }
  .main_features {
    height: 1530px;
  }
  .main_features_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 317px;
    height: 1391px;
  }
  .main_features_wrapper_text {
    width: 277px;
    height: 962px;
  }
  .main_features_wrapper_text_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 277px;
    height: 216px;
    row-gap: 23px;
  }
  .main_features_wrapper_text_item_text {
    width: 277px;
    height: 216px;
    text-align: center;
  }
  .main_features_wrapper_text_item_text_text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #323232;
  }
  .main_features_wrapper_text_item_text_text2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #848E97;
  }
  .main_features_wrapper_img-cont {
    margin-top: 0;
    width: 317px;
    height: 383px;
  }
  .main_features_wrapper_img-cont_img {
    display: none;
  }
  .main_features_wrapper_img-cont_title {
    display: none;
  }
  .main_features_wrapper_img-cont_img2 {
    display: block;
  }
  .main_testimonials {
    background: url(/img/testmonials-bg\ 2\ \(1\).png);
    height: 1610px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
  }
  .main_testimonials_text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
  }
  .main_testimonials_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1538px;
    width: 100%;
  }
  .main_testimonials_sub-title {
    width: 251px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .footer {
    height: 2113px;
  }
  .footer_text {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
  .footer_wrapper {
    display: flex;
    row-gap: 18px;
    flex-direction: column;
    align-items: center;
    width: 299px;
    height: 1988px;
  }
  .footer_wrapper_card {
    transition-duration: 0.1s;
  }
  .footer_wrapper_card_header_text {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
  }
  .footer_wrapper_card_price-plan {
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 400;
  }
  .footer_wrapper_card_personal {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  .footer_wrapper_card :hover {
    transition-duration: 0.3s;
    width: 299px;
    height: 560px;
    background: rgba(70, 48, 72, 0.5137254902);
  }
  .list {
    display: none;
    position: absolute;
    left: 14px;
    top: 104px;
    list-style: none;
    width: 293px;
    background: darkorange;
    flex-direction: column;
    row-gap: 3px;
  }
  .list_item {
    display: flex;
    align-items: center;
    padding-left: 36px;
    height: 88px;
    background: greenyellow;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
  }
  .list:focus + hr {
    border-left: 8mm solid #8D81AC;
  }
  .burger {
    display: block;
    background: none;
    border: none;
  }
  .burger:focus + .list {
    display: flex;
  }
  hr {
    width: 245px;
  }
}
@media screen and (min-width: 427px) and (max-width: 768px) {
  .header {
    background: url(/img/img\ 2.png);
  }
  .header_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 97%;
    height: 82px;
  }
  .header_nav_linkAndBtn {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 40px;
    row-gap: 0;
    order: 2;
  }
  .header_nav_linkAndBtn_btn {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .header_nav_logo {
    width: 160px;
    height: 41px;
  }
  .header_nav_link-cont {
    display: flex;
    width: 100%;
    order: 3;
    margin: 0 auto;
  }
  .main_btn-section {
    width: 390px;
  }
  .main_present-container {
    width: 90%;
  }
  .main_present-container_title {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 700;
  }
  .main_present-container_sub-title {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 21px;
  }
  .main_features {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1259px;
    align-items: end;
  }
  .main_features_wrapper {
    display: flex;
    width: 90%;
    height: 1104px;
    flex-direction: column;
    align-items: center;
  }
  .main_features_wrapper_img-cont_title {
    display: none;
  }
  .main_testimonials {
    width: 100%;
    height: 885px;
  }
  .main_testimonials_block {
    display: flex;
    flex-direction: column;
    height: 537px;
    width: 98%;
    align-items: center;
  }
  .main_testimonials_text {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 700;
  }
  .main_testimonials_sub-title {
    width: 90%;
  }
  hr {
    width: 80%;
  }
  .footer {
    width: 100%;
    height: 1311px;
  }
  .footer_text {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 700;
  }
  .footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 1047px;
    width: 100%;
  }
  .footer_wrapper_card {
    width: 257px;
    height: 457px;
  }
  .footer_wrapper_card :hover {
    width: 299px;
    height: 560px;
  }
}/*# sourceMappingURL=media.css.map */