@mixin Lato($weight,$size){
    font-family: 'Lato', sans-serif;
    font-weight: $weight;
    font-size: $size;
}
@mixin Monserrat($weidth,$size){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: $weidth;
}
@mixin Lato($weight,$size){
    font-family: 'Lato', sans-serif;
    font-weight: $weight;
    font-size: $size;
}
@mixin Monserrat($weidth,$size){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: $weidth;
}
.header{
    height: 863px;
    background: url(/img/img\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    &_nav{
        width: 1200px;
        height: 100px;
        display: flex;
        margin:  0 auto;
        align-items: center;
        &_logo{
            display: flex;
            align-items: center;
            column-gap: 17px;
            width: 164px;
            height: 41px;
            &_svg{
                width: 43px;
                height: 41px;
            }
            &_title{
                @include Lato(700,24px);
                color: #8D81AC;
            }
        }
        &_linkAndBtn{
            display: flex;
            align-items: center;
            column-gap: 48px;
            height: 38px;
            order: 2;
            margin-left: 38px;

            &_btn{
                width: 145px;
                height: 37px;
                cursor: pointer;
                border-radius: 40px;
                background: #8D81AC;
                border: none;
                @include Monserrat(700,16px);
                color: white;
            }
        }
         &_link-cont{
                display: flex;
                justify-content: space-between;
                width: 527px;
                height: 20px;
                order: 1;
                margin-left: 312px;
                &_link{
                    text-decoration: none;
                    @include Monserrat(700,16px);
                    color: rgba(141, 129, 172, 1);
                }
            }
    }
    &_title{
    @include Monserrat(700,82px);
    color: white;
    text-align: center;
    margin-top: 83px;
    }
    &_sub-title{
        @include Lato(400,38px);
        color: rgba(141, 129, 172, 1);
        text-align: center;
        margin-top: 19px;
    }
    &_sub-title2{
        @include Lato(400,16px);
        color: rgba(141, 129, 172, 1);
        text-align: center;
        margin-top: 19px;
        color: rgba(132, 142, 151, 1);
    }
    &_btn-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 19px;
        width: 393px;
        height: 104px;
        background: gold;
        position: absolute;
        top: 830px;
        left: 557px;
        &_btn{
            width: 390px;
            height: 62px;
            border-radius: 40px;
            background: #8D81AC;
            border: none;
            @include Monserrat(700,21px);
            color: white;
            cursor: pointer;
            &:hover{
                background: #fff;
            }
        }
        &_title{
            @include Monserrat(400,14px);
            color: rgba(132, 142, 151, 1)
        }
    }
}
.main{
    &_btn-section{
        display: flex;
        flex-direction: column;
        margin:  0 auto;
        width: 390px;
        height: 62px;
        &_btn{
            transform: translateY(-50%);
            height: 100%;
            width: 100%;
            border-radius: 40px;
            border: none;
            background: #8D81AC;
            @include Monserrat(700,21px);
            color: #fff;
        }
        &_title{
            margin: 0 auto;
            @include Monserrat(400,14px);
            color: #848E97;
        }
    }
    &_present-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 858px;
        height: 192px;
        margin: 0 auto;
        margin-top: 131px;
        &_title{
            @include Monserrat(700,54px);
            color: rgba(99, 92, 115, 1);
        }
        &_sub-title{
            text-align: center;
            @include Lato(400,21px);
            line-height: 32px;
            color: rgba(50, 50, 50, 1);
        }
        &_img{
            margin-top: 48px;
        }
    }
    &_features{
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content:center; 
        height: 711px;
        width: 100%;
       background:#F4F4F4;
       &_wrapper{
        display: flex;
        justify-content: space-between;
        width: 1290px;
        height: 561.89px;
        &_text{
            display: flex;
            flex-direction: column;
            row-gap: 33px;
            width: 540px;
            height: 100%;
            &_item{
                display: flex;
                justify-content: space-between;
                column-gap: 23px;
                width: 100%;
                height: 110px;
                &_text{
                    width: 395px;
                    &_text1{
                        @include Monserrat(400,16px)
                    }
                    &_text2{
                        margin-top: 16px;
                        @include Monserrat(400,14px);
                        line-height: 21px;
                    }
                }
            }
        }
        &_img-cont{
            display: flex;
            flex-direction: column;
            row-gap:43.89px;
            width: 675px;
            &_title{
                @include Monserrat(700,48px);
                color: rgba(141, 129, 172, 1);
            }
            &_img2{
                display: none;
            }
        }
       }
    }
    &_testimonials{
        background: url(/img/testmonials-bg\ 1.png);
        height: 769px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-repeat: no-repeat;
        flex-grow: 1;
        background-size: cover;
        &_text{
            @include Monserrat(700,48px);
            color: white;
            padding-top: 108.11px;
        }
        &_block{
            display: flex;
            justify-content: space-between;
            width: 1193px;
            height: 387px;
            margin-top: 74.89px;
            flex-wrap: wrap;
            &_item{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                height: auto;
                row-gap: 10px;
                &_img{
                    width: 165px;
                    height: 43px;
                }
                &_text{
                    text-align: center;
                    @include Lato(700,16px);
                    color: #fff;
                    font-style: italic;
                    line-height: 24px;
                }
            }
        }
        &_sub-title{
            width: 887px;
            text-align: center;
            @include Lato(400,14px);
            color: #A291A5;
            line-height: 21px;
            padding-top: 114.5px;
        }
    }
}
.footer{
    display: flex;
    flex-direction: column;
    height: 854px;
    background: url(/img/Layer\ 2\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    &_text{
        @include Monserrat(700,48px);
        color: #fff;
    }
    &_wrapper{
        display: flex;
        align-items: end;
        justify-content: center;
        column-gap: 15px;
        margin-top: 61px;
        width: 1114px;
        height: 560px;
        &_card{
            display: flex;
            flex-direction: column;
            width: 257px;
            height: 457px;
            background: #ffffff10;
            align-items: center;
            transition-duration: 0.1s;
            &:hover{
                transition-duration: 0.3s;
                width: 299px;
                height: 560px;
                background: #46304883;
            }
            &_header{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 257px;
                height: 97px;
                background: none;
                @include Monserrat(400,24px);
                color: white;
            }
            &_price-plan{
                @include Monserrat(400,60px);
                color: white;
            }
            &_month{
                @include Monserrat(400,14px);
                color: #fff;
                margin-top: 20px;
            }
            &_personal{
                @include Monserrat(400,16px);
                margin-top: 79px;
                color: #fff;
                text-align: center;
            }
            &_btn{
                width: 160px;
                height: 42px;
                margin-top: 62px;
                background: #ffffff15;
                border: none;
                border-radius: 20px;
                @include Monserrat(400,15px);
                color: white;
            }
        }
    }
}
.repeat{
    text-align: center;
    width: 70%;
}
.logo7{
    width: 64px;
    height: 64px;
}
hr{
    border: 2px solid rgba(100, 87, 102, 1);
    width: 780px;
}
.burger{
    display: none;
}
.list{
    display: none;
}