.header {
  height: 863px;
  background: url(/img/img\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
}
.header_nav {
  width: 1200px;
  height: 100px;
  background: darkgreen;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header_nav_logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
  width: 164px;
  height: 41px;
}
.header_nav_logo_svg {
  width: 43px;
  height: 41px;
}
.header_nav_logo_title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #8D81AC;
}
.header_nav_linkAndBtn {
  display: flex;
  align-items: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  width: 710px;
  height: 38px;
  background: rgb(49, 22, 200);
}
.header_nav_linkAndBtn_link-cont {
  display: flex;
  justify-content: space-between;
  width: 527px;
  height: 20px;
  background: red;
}
.header_nav_linkAndBtn_link-cont_link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(141, 129, 172);
}
.header_nav_linkAndBtn_btn {
  width: 145px;
  height: 37px;
  cursor: pointer;
  border-radius: 40px;
  background: #8D81AC;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.header_title {
  font-family: "Montserrat", sans-serif;
  font-size: 82px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 83px;
}
.header_sub-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 38px;
  color: rgb(141, 129, 172);
  text-align: center;
  margin-top: 19px;
}
.header_sub-title2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgb(141, 129, 172);
  text-align: center;
  margin-top: 19px;
  color: rgb(132, 142, 151);
}
.header_btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 19px;
  width: 393px;
  height: 104px;
  background: gold;
  position: absolute;
  top: 830px;
  left: 557px;
}
.header_btn-container_btn {
  width: 390px;
  height: 62px;
  border-radius: 40px;
  background: #8D81AC;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.header_btn-container_btn:hover {
  background: #fff;
}
.header_btn-container_title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(132, 142, 151);
}

.main_present-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 858px;
  height: 192px;
  margin: 0 auto;
  margin-top: 131px;
}
.main_present-container_title {
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  font-weight: 700;
  color: rgb(99, 92, 115);
}
.main_present-container_sub-title {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: rgb(50, 50, 50);
}
.main_present-container_img {
  margin-top: 48px;
}
.main_features {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 711px;
  width: 100%;
  background: #F4F4F4;
  justify-content: center;
}
.main_features_wrapper {
  display: flex;
  justify-content: space-between;
  width: 1290px;
  height: 561.89px;
  background: gold;
}
.main_features_wrapper_text {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  width: 540px;
  height: 100%;
  background: darkgreen;
}
.main_features_wrapper_text_item {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 23px;
       column-gap: 23px;
  width: 100%;
  height: 110px;
  background: salmon;
}
.main_features_wrapper_text_item_text {
  width: 395px;
  background: firebrick;
}
.main_features_wrapper_text_item_text_text1 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.main_features_wrapper_text_item_text_text2 {
  margin-top: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.main_features_wrapper_img-cont {
  display: flex;
  flex-direction: column;
  row-gap: 43.89px;
  width: 675px;
  height: 561.89px;
  background: tomato;
}
.main_features_wrapper_img-cont_title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: rgb(141, 129, 172);
}
.main_features_wrapper_img-cont_img2 {
  display: none;
}
.main_testimonials {
  background: url(/img/testmonials-bg\ 1.png);
  height: 769px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  background-size: cover;
}
.main_testimonials_text {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: white;
  padding-top: 108.11px;
}
.main_testimonials_block {
  display: flex;
  justify-content: space-between;
  width: 1193px;
  height: 387px;
  background: gold;
  margin-top: 74.89px;
  flex-wrap: wrap;
}
.main_testimonials_block_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  height: 142px;
  background: darkmagenta;
  row-gap: 10px;
}
.main_testimonials_block_item_img {
  width: 165px;
  height: 43px;
}
.main_testimonials_block_item_text {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
}
.main_testimonials_sub-title {
  width: 887px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #A291A5;
  line-height: 21px;
  padding-top: 114.5px;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 854px;
  background: url(/img/Layer\ 2\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.footer_text {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.footer_wrapper {
  display: flex;
  align-items: end;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-top: 61px;
  width: 1114px;
  height: 560px;
}
.footer_wrapper_card {
  display: flex;
  flex-direction: column;
  width: 257px;
  height: 457px;
  background: rgba(255, 255, 255, 0.062745098);
  align-items: center;
  transition-duration: 0.1s;
}
.footer_wrapper_card:hover {
  transition-duration: 0.3s;
  width: 299px;
  height: 560px;
  background: rgba(70, 48, 72, 0.5137254902);
}
.footer_wrapper_card_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 97px;
  background: rgba(255, 255, 255, 0.0196078431);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.footer_wrapper_card_header:hover {
  background: rgba(0, 0, 0, 0.062745098);
}
.footer_wrapper_card_price-plan {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: white;
}
.footer_wrapper_card_month {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
}
.footer_wrapper_card_personal {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 79px;
  color: #fff;
  text-align: center;
}
.footer_wrapper_card_btn {
  width: 160px;
  height: 42px;
  margin-top: 62px;
  background: rgba(255, 255, 255, 0.0823529412);
  border: none;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
}

.repeat {
  text-align: center;
  width: 70%;
}

.logo7 {
  width: 64px;
  height: 64px;
}

hr {
  border: 2px solid rgb(100, 87, 102);
  width: 780px;
}

.burger {
  display: none;
}

.list {
  display: none;
}/*# sourceMappingURL=style.css.map */